.Footer_main{
    font-family: 'Noto Sans TC',Arial,sans-serif;
    color :white;
    background-color:#002958;
    /* margin-top: 90vh;
    margin-bottom: 0; */
    position: relative;
    bottom:0;
    width:100%;
    display:flex;
    flex-direction: column;
    
}
/* .Footer_row{
    margin:0,auto;
} */
.icon_img{
    width: 150px;
    height:100%;
    float:right;
    margin-right:240px;
    margin-top:30px;
}
.footer_col_1{
    display: inline-block;
    position: relative;
    width: 70%;
   
}
.footer_col_2{
    display: inline-block;
    position: relative;
    width: 30%;
}
.footer_list{
    color: white;
    list-style-type: none;
    font-size: 17px;
    line-height: 30px;
    margin-left: 150px;
}

#footer_col_sm{
    margin:0,auto;
    font-size: 8px;
    color :gray;
    text-align: center;
}
.footer_copy{
    background-color:#001936;
    min-height: 30px;
}