.Slidebar_png{
    height: 2vw;
    width: 2vw;
}
.Slidebar_btn{
    background-color: inherit;
    height: 3vw;
    width: 3vw;
    border-radius: 50%;
    border: 0;
    position: fixed;
    top:50vh;
    transform: scale(1);
    transition-property: transform;
    transition-duration: 0.5s;
    z-index: 3;
}
.Slidebar_btn:hover{
    transform: scale(1.5);
}
#Slidebar_container{
    /*margin-top:8%;*/
    z-index: 3;
    position: fixed;
    left:-55vw;
    top:10.5vh;
    height: 100vh;
    /* overflow-y: scroll; */
    /* overflow-x: visible; */
    background-color: rgba(0,0,0,0.8);
    /*position: fixed;*/
}
#Slidebar_container::-webkit-scrollbar-track{
    background-color: transparent;
}
/* #Slidebar_btn_open{
    left:44vw;
} */


#Slidebar_btn_open{
    left:1vw
}
#Slidebar_main{
    width:51vw;
    height: 90%;
}

